{% extends 'blog/base.html' %} <!--Connects file to template in the provided local directory; TEMPLATE EXTENSIONS NEED TO BE AT TOP OF FILE-->
{% load static %}

<!--Putting content inside the "block content" braces is formatted like our template in 'base.html'-->
{% block content %}
{% for post in posts %} <!--NOTE: 'posts' is a QuerySet containing posts on the blog.-->
    <article class="post">
        <time class="date">published: {{ post.published_date }}</time>
        <!--
        The href below is a Django template telling the compiler to anchor the h2 header
        to a url linking to the site containing the post's details.

        NOTE: The string after url tells the compiler what url in 'blog/urls.py' to go to,
        and 'pk=post.pk' tells the compiler to use the .pk field of the post object
        to pull said post's primary key, and store it as argument 'pk'.
        -->
        
        <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </article>
{% endfor %}
{% endblock %}