<!DOCTYPE html>
<html>
    <head>
        <title>Luke's blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Luke's Blog</a></h1>
        </header>

        <!--
        To display the QuerySet object stored in variable 'posts' from views.py
        {{ posts }}

        To iterate and present the title name's of each post:
        {% for post in posts %}
            {{ post }}
        {% endfor %}
        -->

        {% for post in posts %}
            <article>
                <time>published: {{ post.published_date }}</time>
                <h2><a href="">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
            </article>
        {% endfor %}
            

        <!--<article>
            <time>published: 09.03.2022, 11:12</time>
            <h2><a href="">My first post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </article>

        <article>
            <time>published: 09.03.2022, 11:13</time>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </article>-->
    </body>
</html>

<!--
    <h1>A heading</h1> for your most important heading
    <h2>A sub-heading</h2> for a heading at the next level
    <h3>A sub-sub-heading</h3> …and so on, up to <h6>
    <p>A paragraph of text</p>
    <em>text</em> emphasizes your text
    <strong>text</strong> strongly emphasizes your text
    <br> goes to another line (you can't put anything inside br and there's no closing tag)
    <a href="https://djangogirls.org">link</a> creates a link
    <ul><li>first item</li><li>second item</li></ul> makes a list, just like this one!
    <div></div> defines a section of the page
    <nav></nav> defines a set of navigation links
    <article></article> specifies independent, self-contained content
    <section></section> defines a section in a document
    <header></header> specifies a header for a document or section
    <main></main> specifies the main content of a document
    <aside></aside> defines some content aside from the content it is placed in (like a sidebar)
    <footer></footer> defines a footer for a document or section
    <time></time> defines a specific time (or datetime)
-->